@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

strong {
  font-weight: 700;
}

html {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

body {
  color: #000;
  background: #fff;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    color: #fff;
    background-color: #111;
  }

  &.dark {
    color: #fff;
    background-color: #111;
  }

  &.light {
    color: #000;
    background: #fff;
  }

  &.disabled {
    --speed: 0;

    * {
      animation: none !important;
      transition: none !important;
    }
  }

  &.fast {
    --speed: 0.5;
  }

  &.normal {
    --speed: 1;
  }

  &.slow {
    --speed: 2;
  }
}

#app {
  width: 100svw;
  height: 100svh;
  max-width: calc(100svh * 9 / 16);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}